@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


.auth-container-1{
    padding: 20px;
    margin-right: 30px;
}

.error-p{
  color:red;
  font-weight: bold;
  font-size: 25px;
}


.background{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 120vh;
    background-color: black;
    opacity: .9;
    background-image: url('../../assets/empty-elegant-background-with-copy-space.jpg')
}

.form{
    display: flex;
    display: column;
    text-transform: capitalize;
    font: 14px;
    font-family: 'Inter';
    border:2px solid rgb(226, 209, 209);
    position: relative;
    /* width: 50%; */
    border-radius: 5px;
    padding: 10px;
    color:white;
    background-color: rgb(173, 160, 160);
    width: 70%;
    margin-top: 127px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form form label{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.form from label h5{
    width: 50%;
}
.form form label input{
    width: 100%;
    border-radius: 5px;
    outline: none;
    border:3px solid rgb(221, 93, 93);
    color:rgb(46, 43, 43);
    padding: 4px;
}

::-webkit-input-placeholder { /* Edge */
    color: red;
    font-size: 14px;
    text-transform: capitalize;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
    font-size: 14px;
    text-transform: capitalize;
  }
  
  ::placeholder {
    color: rgb(215, 42, 143);
    font-size: 14px;
    text-transform: capitalize;
  }


/* CSS */
.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

@media screen and (max-width: 320px) {
  .form{
    margin-top: 227px;
  }
  .background{
    height: 140vh;
  }
}